@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.5em;
    color: rgb(100, 100, 100);
}

header {
    position: fixed;
    width: 100vw;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 50;
}

.logo {
    position: absolute;
    top: 20px;
    left: 40px;
}

.logo img {
    width: 150px;
}

.opened-menu {
    position: fixed;
    right: -150vh;
    top: -25vh;
    z-index: 100;
    transition: all .2s ease-in-out;
}

.menu-hint {
    right: -140vh;
}

.show-menu {
    right: -100vh;
}

.menu-base {
    width: 150vh;
    height: 150vh;
    background-color: rgb(247, 195, 94);
    border-radius: 50%;
}

.menu {
    position: absolute;
    top: calc(106vh / 2);
    left: calc(40vh / 2);
    text-align: center;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 1.2em;
    cursor: pointer;
    color: rgb(70, 70, 70);
}

.facebook {
    font-size: 1.2em;
    font-weight: 800;
    margin-top: 30%;
}

.facebook a {
    text-decoration: none;
    color: rgb(70, 70, 70);
}

.envelope-icon {
    margin-top: 100px;
    margin-bottom: 10px;
}

.envelope-icon svg {
    fill: rgb(70, 70, 70);
}

.envelope-icon:hover {
    animation: shake 0.2s;
}

@keyframes shake {
    0% {transform: rotate(-5deg);}
    20% {transform: rotate(-10deg);}
    40% {transform: rotate(-5deg);}
    50% {transform: rotate(0deg);}
    60% {transform: rotate(5deg);}
    80% {transform: rotate(10deg);}
    100% {transform: rotate(5deg);}
}

.send-inquiry-link {
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(70, 70, 70);
    cursor: pointer;
}

.header-anim {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow-x: hidden;
}

.landscape {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5%;
    width: 100%;
    background: #015871;
}

.back {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background: url("back.svg") no-repeat;
    background-size: 100%;
}

.buildings {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6652px;
    height: 445px;
    background: url("buildings.svg");
    animation: buildings 60s linear infinite;
}

.middleview {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 7228px;
    height: 461px;
    background: url("middle.svg");
    animation: middleview 30s linear infinite;
}

.front {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6652px;
    height: 552px;
    background: url("front.svg");
    animation: front 10s linear infinite;
}

@keyframes middleview {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1807px;
    }
}

@keyframes front {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1663px;
    }
}

@keyframes buildings {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1663px;
    }
}

.bike {
    position: absolute;
    bottom: 30px;
}

.bike img {
    width: 60vw;
    max-width: 800px;
    min-width: 650px;
}

section {
    padding-top: 50px;
    text-align: center;
}

.section-title {
    margin-bottom: 30px;
    font-size: 1.7em;
    font-weight: 800;
    line-height: 1.2em;
    color: rgb(140, 140, 140);
}

.about {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
}

.services {
    padding-right: 40px;
    padding-left: 40px;
    background-color: rgb(245, 245, 245);
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.services-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.services-body div {
    width: 50%;
    max-width: 500px;
    margin: 10px 30px;
    padding-bottom: 40px;
}

.service img {
    width: 170px;
}

.service-title {
    font-weight: 800;
    margin: 20px 0;
}

.service-details {
    padding: 0 10px;
}

.selected-proj {
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgb(255, 255, 255);
}

.selected-proj .section-title {
    font-weight: 600;
    color: rgb(100, 100, 100);
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 550px;
    height: 350px;
    background-color: rgb(100, 100, 100);
    border: 1px solid lightgray;
}

.gallery-btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: rgb(100, 100, 100);
    border: 2px solid rgb(140, 140, 140);
    border-radius: 10px;
    padding: 5px 15px;
    margin: 30px 0;
}

.gallery-btn:hover {
    color: chocolate;
    border-color: chocolate;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
    margin: 0 auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}

footer {
    background-color: rgb(124, 156, 128);
    background-image: linear-gradient(rgba(255, 255, 255, .07) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, .07) 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .1) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.contacts {
    text-align: center;
    overflow: hidden;
}

.contacts div {
    float: left;
    width: 33%;
    color: rgb(255, 255, 255);
    padding: 40px 0;
}

.bottom-line {
    width: 90%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
}

.copyright {
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
    padding: 10px 0;
}

@media only screen and (max-width: 600px) {
    .header-anim {
        height: 60vh;
    }
}