@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.5em;
    color: rgb(100, 100, 100);
}

header {
    position: fixed;
    width: 100vw;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo {
    position: absolute;
    top: 20px;
    left: 40px;
}

.logo img {
    width: 150px;
}

.menu {
    position: absolute;
    top: 27px;
    right: 50px;
}

.menu ul {
    display: inline-block;
}

.menu ul li {
    display: inline;
    padding: 5px;
    text-transform: uppercase;
    font-size: .9em;
    cursor: pointer;
}

span {
    display: inline-block;
}

.envelope-holder {
    position: relative;
    top: -6px;
    margin: 0 7px;
    width: 36px;
    height: 36px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.envelope-holder:hover {
    border-color: chocolate;
}

.envelope {
    position: relative;
    top: 8px;
    left: 7px;
    width: 20px;
    height: 15px;
    border: 1px solid black;
    border-radius: 3px;
}

.left-line {
    position: absolute;
    top: 4px;
    left: -2px;
    width: 14px;
    height: 1px;
    background-color: black;
    transform: rotateZ(45deg)
}

.right-line {
    position: absolute;
    top: 4px;
    left: 8px;
    width: 14px;
    height: 1px;
    background-color: black;
    transform: rotateZ(-45deg)
}

.header-anim {
    position: relative;
    background-image: url(bike-bg-longer.jpg);
    background-size: cover;
    width: 100vw;
    height: 70vh;
    overflow-x: hidden;
}

.bike-bg img {
    display: block;
    width: 100vw;
}

.bike {
    position: absolute;
    bottom: 30px;
}

.bike img {
    width: 100vw;
    max-width: 1100px;
}

section {
    padding-top: 50px;
    text-align: center;
}

.section-title {
    margin-bottom: 30px;
    font-size: 1.7em;
    font-weight: 800;
    line-height: 1.2em;
    color: rgb(140, 140, 140);
}

.about {
    margin-bottom: 50px;
    max-width: 900px;
    margin: 0 auto;
}

.about p:last-child {
    margin-bottom: 40px;
}

.services {
    padding-right: 40px;
    padding-left: 40px;
    background-color: rgb(245, 245, 245);
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.2'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.services-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.services-body div {
    width: 50%;
    max-width: 500px;
    margin: 10px 30px;
    padding-bottom: 40px;
}

.service img {
    width: 170px;
}

.service-title {
    font-weight: 800;
    margin: 20px 0;
}

.service-details {
    padding: 0 10px;
}

.selected-proj {
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgb(255, 255, 255);
}

.selected-proj .section-title {
    font-weight: 600;
    color: rgb(100, 100, 100);
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 550px;
    height: 350px;
    background-color: rgb(100, 100, 100);
    border: 1px solid lightgray;
}

.gallery-btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: rgb(100, 100, 100);
    border: 2px solid rgb(140, 140, 140);
    border-radius: 10px;
    padding: 5px 15px;
    margin: 30px 0;
}

.gallery-btn:hover {
    color: chocolate;
    border-color: chocolate;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
    margin: 0 auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}

footer {
    background-color: rgb(124, 156, 128);
    background-image: linear-gradient(rgba(255, 255, 255, .07) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, .07) 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .1) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.contacts {
    text-align: center;
    overflow: hidden;
}

.contacts div {
    float: left;
    width: 33%;
    color: rgb(255, 255, 255);
    padding: 40px 0;
}

.bottom-line {
    width: 90%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
}

.copyright {
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
    padding: 10px 0;
}